<!DOCTYPE html>
   <html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <!--=============== REMIXICONS ===============-->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.css">

      <!--=============== CSS ===============-->
      <link rel="stylesheet" href="/css/login.css">
      
      <link rel="shortcut icon" href="/images/logo44.png" type="image/x-icon">
        <title>न्यायसाधन</title>
   </head>
   <body>
      <div class="login container grid" id="loginAccessRegister">
         <!--===== LOGIN ACCESS =====-->
         <div class="login__access">
            <h1 class="login__title">Log in to your न्यायसाधन.</h1>
            
            <div class="login__area">
               <!-- Login Form -->
<form action="/login" method="POST" class="login__form">
   <div class="login__content grid">
       <div class="login__box">
           <input type="email" name="email" required placeholder=" " class="login__input">
           <label for="email" class="login__label">Email</label>
           <i class="ri-mail-fill login__icon"></i>
       </div>

       <div class="login__box">
           <input type="password" name="password" required placeholder=" " autocomplete="new-password" class="login__input">
           <label for="password" class="login__label">Password</label>
           <i class="ri-eye-off-fill login__icon login__password" id="loginPassword"></i>
       </div>
   </div>

   <a href="#" class="login__forgot">Forgot your password?</a>

   <button type="submit" class="login__button">Login</button>
</form>
      
               <div class="login__social">
                  <p class="login__social-title">Or login with</p>
      
                  <div class="login__social-links">
                     <a href="#" class="login__social-link">
                        <img src="/images/icon-google.svg" alt="image" class="login__social-img">
                     </a>
      
                     <a href="#" class="login__social-link">
                        <img src="/images/icon-facebook.svg" alt="image" class="login__social-img">
                     </a>
      
                     <a href="#" class="login__social-link">
                        <img src="/images/icon-apple.svg" alt="image" class="login__social-img">
                     </a>
                  </div>
               </div>
      
               <p class="login__switch">
                  Don't have an account? 
                  <button id="loginButtonRegister">Create Account</button>
               </p>
            </div>
         </div>

         <!--===== LOGIN REGISTER =====-->
         <div class="login__register">
            <h1 class="login__title">Create new account.</h1>

            <div class="login__area">
               <!-- Signup Form -->
<form action="/signup" method="POST" class="login__form">
   <div class="login__content grid">
       <div class="login__group grid">
           <div class="login__box">
               <input type="text" name="username" required placeholder=" " class="login__input">
               <label for="names" class="login__label">Names</label>
               <i class="ri-id-card-fill login__icon"></i>
           </div>
           <div class="login__box">
               <input type="text" name="lname" required placeholder=" " class="login__input">
               <label for="surnames" class="login__label">Surnames</label>
               <i class="ri-id-card-fill login__icon"></i>
           </div>
       </div>

       <div class="login__box">
           <input type="email" name="email" required placeholder=" " class="login__input">
           <label for="emailCreate" class="login__label">Email</label>
           <i class="ri-mail-fill login__icon"></i>
       </div>

       <div class="login__box">
           <input type="password" name="password" required placeholder=" " autocomplete="new-password" class="login__input">
           <label for="passwordCreate" class="login__label">Password</label>
           <i class="ri-eye-off-fill login__icon login__password" id="loginPasswordCreate"></i>
       </div>
   </div>

   <button type="submit" class="login__button">Create account</button>
</form>
   
               <p class="login__switch">
                  Already have an account? 
                  <button id="loginButtonAccess">Log In</button>
               </p>
            </div>
         </div>
         <!-- Login Image -->
  <img src="/images/okk.png" style="margin-left: 37%;" alt="Login Image" class="login__img">
      </div>
      
      <!--=============== MAIN JS ===============-->
      <script>/*=============== SHOW HIDE PASSWORD LOGIN ===============*/
        const passwordAccess = (loginPass, loginEye) =>{
           const input = document.getElementById(loginPass),
                 iconEye = document.getElementById(loginEye)
        
           iconEye.addEventListener('click', () =>{
              // Change password to text
              input.type === 'password' ? input.type = 'text'
                                              : input.type = 'password'
        
              // Icon change
              iconEye.classList.toggle('ri-eye-fill')
              iconEye.classList.toggle('ri-eye-off-fill')
           })
        }
        passwordAccess('password','loginPassword')
        
        /*=============== SHOW HIDE PASSWORD CREATE ACCOUNT ===============*/
        const passwordRegister = (loginPass, loginEye) =>{
           const input = document.getElementById(loginPass),
                 iconEye = document.getElementById(loginEye)
        
           iconEye.addEventListener('click', () =>{
              // Change password to text
              input.type === 'password' ? input.type = 'text'
                                              : input.type = 'password'
        
              // Icon change
              iconEye.classList.toggle('ri-eye-fill')
              iconEye.classList.toggle('ri-eye-off-fill')
           })
        }
        passwordRegister('passwordCreate','loginPasswordCreate')
        
        /*=============== SHOW HIDE LOGIN & CREATE ACCOUNT ===============*/
        const loginAcessRegister = document.getElementById('loginAccessRegister'),
              buttonRegister = document.getElementById('loginButtonRegister'),
              buttonAccess = document.getElementById('loginButtonAccess')
        
        buttonRegister.addEventListener('click', () => {
           loginAcessRegister.classList.add('active')
        })
        
        buttonAccess.addEventListener('click', () => {
           loginAcessRegister.classList.remove('active')
        })
        </script>
   </body>
</html>