<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eligibility Checker</title>
    <link rel="stylesheet" href="/css/checker.css">
</head>
<body>
    <h1>Eligibility Checker</h1>
    <form action="/check" method="POST">
        <label for="username">Name:</label>
        <input type="text" id="username" name="username" required><br><br>
        <label for="age">Age:</label>
        <input type="number" id="age" name="age" required><br><br>
        <label for="Case">Case no.:</label>
        <input type="number" id="Case" name="Case" required><br><br>
        <label for="Offense">Offense Type:</label>
        <input type="text" id="Offense" name="Offense" required><br><br>
        <label for="Date">Year of Arrest:</label>
        <input type="date" id="Date" name="Date" required><br><br>
        <label for="Bail">Bail Amount:</label>
        <input type="number" id="Bail" name="Bail" required><br><br>
        <button type="submit">Check Eligibility</button>
    </form>
    <script src="/js/checker.js"></script>
</body>
</html>
